

@keyframes pulse {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  font-family: $headers-font;
  font-size: 16px;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  background-image: url('https://i.pinimg.com/originals/5c/65/52/5c65525d87e36df205742ab0710e901a.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  color: white


}

h1 {
  text-align: center;
  margin: 20px 0;
  margin-top: 240px;
  position: center;
  position: sticky;

}

p {
  font-size: $font-size-small;

}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}





.create-group-btn {

    background-image: linear-gradient(to right, #C33764 0%, #1D2671  51%, #C33764  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 10px;
    display: block;
    text-shadow:
    0px 0px 6px rgb(57, 52, 52),
    0px 0px 10px rgba(0, 0, 0, 0.247),
    1px 1px 6px rgba(35, 34, 35, 0.444);

  }

  .create-group-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }


.btn-outline-primary {
  background-image: linear-gradient(to right, #C33764 0%, #1D2671  51%, #C33764  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 10px;
  display: block;
  text-shadow:
  0px 0px 6px rgb(57, 52, 52),
  0px 0px 10px rgba(0, 0, 0, 0.247),
  1px 1px 6px rgba(35, 34, 35, 0.444);
  }

  .btn-btn-outline-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
