

@keyframes pulse {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar-home-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

body {
  font-family: $headers-font;
  font-size: 15px;
  position: center;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  background-image: url('https://i.pinimg.com/564x/d9/f1/1e/d9f11e2fb619c0363e5b2538f18fd191.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white
}

h1 {
  text-align: center;
  margin: 20px 0;
  margin-top: 5px;
  position: center;
  position: sticky;
}


.app-header {
  img {
    width: 100%;
    display: flex;
  }
}

p {
  font-size: $font-size-small;

}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.group-and-player {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parent {
  position: relative;
  i {

    position: absolute;
    top: 4px;
    right: 2px;
    background-color:hsla(359,100%,50%,1);
  background-image:
  radial-gradient(at 45% 42%, hsla(20,96%,5%,1) 0px, transparent 50%),
  radial-gradient(at 74% 28%, hsla(54,11%,5%,1) 0px, transparent 50%),
  radial-gradient(at 73% 90%, hsla(161,83%,5%,1) 0px, transparent 50%),
  radial-gradient(at 77% 43%, hsla(182,97%,5%,1) 0px, transparent 50%),
  radial-gradient(at 28% 30%, hsla(257,63%,5%,1) 0px, transparent 50%),
  radial-gradient(at 68% 61%, hsla(85,76%,5%,1) 0px, transparent 50%),
  radial-gradient(at 87% 3%, hsla(124,99%,5%,1) 0px, transparent 50%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #2009F2;
    text-shadow:
    0px 0px 6px rgb(57, 52, 52),
    0px 0px 10px rgba(0, 0, 0, 0.247),
    1px 1px 6px rgba(35, 34, 35, 0.444);
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    }
}


.create-group-btn, .btn-outline-primary {


  background-color:hsla(246,100%,52%,1);
  background-image:
  radial-gradient(at 8% 38%, hsla(329,61%,60%,1) 0px, transparent 50%),
  radial-gradient(at 94% 11%, hsla(20,86%,60%,1) 0px, transparent 50%),
  radial-gradient(at 11% 6%, hsla(109,91%,60%,1) 0px, transparent 50%),
  radial-gradient(at 45% 71%, hsla(265,81%,60%,1) 0px, transparent 50%);


padding: 15px 45px;

    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #2009f2;
    text-shadow:
    0px 0px 6px rgb(57, 52, 52),
    0px 0px 10px rgba(0, 0, 0, 0.247),
    1px 1px 6px rgba(35, 34, 35, 0.444);
    padding: 10px 20px;
    text-align: center;
    display: block;
   margin: 0 auto;
   border-radius: 20px;
}



  #copy-btn {
  //background-color:hsla(239,100%,50%,1);
  background-color: rgb(18, 138, 18);
  background-image:
  radial-gradient(at 92% 83%, hsla(234,61%,2%,1) 0px, transparent 50%),
  radial-gradient(at 75% 31%, hsla(3,87%,2%,1) 0px, transparent 50%),
  radial-gradient(at 68% 40%, hsla(318,98%,2%,1) 0px, transparent 50%),
  radial-gradient(at 9% 28%, hsla(78,62%,2%,1) 0px, transparent 50%),
  radial-gradient(at 76% 60%, hsla(208,63%,2%,1) 0px, transparent 50%),
  radial-gradient(at 55% 78%, hsla(1,64%,2%,1) 0px, transparent 50%),
  radial-gradient(at 99% 99%, hsla(42,70%,2%,1) 0px, transparent 50%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #2009F2;
    text-shadow:
    0px 0px 6px rgb(57, 52, 52),
    0px 0px 10px rgba(0, 0, 0, 0.247),
    1px 1px 6px rgba(35, 34, 35, 0.444);
    // text-align: center;
    // display: inline-block;
    border-radius: 25px;
    a:link {
      color: white !important;
    }
  }

.group-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-name {
  margin-right: 10px;
}

.clipboard-field {
  width: 50%;
}
