.modal-body {
  font-family: $headers-font;
  font-size: 16px;
  position: center;
  color: white;
  background-color: rgb(48, 48, 48);
}

.modal-header {
  font-family: $headers-font;
  font-size: 16px;
  position: center;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  .h5 {
    text-align: center;
  }

}

.modal-footer {
  font-family: $headers-font;
  font-size: 16px;
  position: center;
  background-color: rgb(0, 0, 0);
  color: white
}

.btn-close {
  background-color: white;
}
