.result-cards {
  display: flex;
  flex-wrap: wrap;
}

.result-card {
  width: 250px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
