// .topic-cards {
//   display: flex;
//   flex-wrap: wrap;
// }
.topic-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

.topic-card {
  width: 100%;
  height: auto;
  //margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
  a:link, h3 {
    color: white;
  }
}

.topic-card:hover {
  background-color: #6cacf7;
}

a:link {
  text-decoration: none;
}

.topic-image {
  width: 38%;
  height: auto;
  border-radius: 5px;
}

.delete {
  background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(328,100%,50%,0.61) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(302,100%,54%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(359,100%,54%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(310,100%,54%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(359,100%,54%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(315,72%,54%,1) 0px, transparent 50%);
    padding: 15px 45px;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #2009F2;
    text-shadow:
    0px 0px 6px rgb(57, 52, 52),
    0px 0px 10px rgba(0, 0, 0, 0.247),
    1px 1px 6px rgba(35, 34, 35, 0.444);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 20px;
    a:link {
      color: white;
    }
}

.delete:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

  .btn-enter-game {
    background-color:hsla(246,100%,52%,1);
    background-image:
    radial-gradient(at 8% 38%, hsla(329,61%,60%,1) 0px, transparent 50%),
    radial-gradient(at 94% 11%, hsla(20,86%,60%,1) 0px, transparent 50%),
    radial-gradient(at 11% 6%, hsla(109,91%,60%,1) 0px, transparent 50%),
    radial-gradient(at 45% 71%, hsla(265,81%,60%,1) 0px, transparent 50%);


      padding: 10px 45px;
      font-size: 12px;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 100% auto;
      color: white;
      box-shadow: 0 0 20px #2009f2;
      text-shadow:
      0px 0px 6px rgb(57, 52, 52),
      0px 0px 10px rgba(0, 0, 0, 0.247),
      1px 1px 6px rgba(35, 34, 35, 0.444);
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
     margin: 4px 2px;
     border-radius: 25px;
  }


  a:link {
    color: #fff;
    text-decoration: none;
  }
