<div id="instructions-box">
<ol>
<li> Set:  You'll be given a number between two extremes</li>
<br>
<li> Answer:  This represents where you believe your answer sits</li>
<br>
<li> Send:  It's their turn to guess where your answer sits</li>
<br>
<li> You guess:  You will see the answer to their questions. Guess a number</li>
<br>
<li> Score Points:  Based on how close you are.</li>
</ol>
</div>
