<div id="instructions-box">
<ol>
<li> Set the dial: You'll be shown a point between two extremes.</li>
<br>
<li> Type Your Answer: This represents where you believe your answer falls.</li>
<br>
<li> Send to guessers: Your answer will be sent to the guesser or guessers. It's their turn to guess where they think your answer falls within the spectrum.</li>
<br>
<li> Guess for the other players: You will see the answer to their questions. Move the dial to where you think it should be</li>
<br>
<li> Score Points: Based on how close you are to their dial place within the spectrum.</li>
</ol>
</div>
