<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Game Over</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> Lowest score wins </h5>
        <% @users = @users.sort_by { |user| user.game_points(@game) }%>
        <ol>
        <% @users.each do |user| %>
  <li> <%= user.name%>: <%=  user.game_points(@game)%> points </li>
      <%end%>
      <ol>
      </div>
      <div class="modal-footer">
        <a href="../" class="btn btn-primary">Play again?</a>
      </div>
    </div>
  </div>
</div>
