<h1>Welcome to AmigoAnalyzer App!</h1>

<p>This is the home page of your app.</p>

<p>Welcome to AmigoAnalyzer.Ever wondered just how well you truly know your pals?
  AmigoAnalyzer dives deep into your social connections,
  serving up a hilarious yet revealing snapshot of your friendship.
  From inside jokes to shared adventures, this app measures your camaraderie quotient with accuracy and humor.
  Get ready to laugh, reflect, and maybe even learn a thing or two about your besties with AmigoAnalyzer!
  </p>

<div data-controller="instructions">
<button data-action="click->instructions#reveal" class="btn btn-outline-primary">How it works</button>
<div data-instructions-target="revealInstructions" class="d-none">
  <%= render "instructions" %>
</div>
</div>
