<%#
# List of all players(2) in the game in game show page
# A button to start guessing
# After the guess I will be redirected to the game show page
# I will see the number of points that I scored for that guess
# Press the button to move on to the next guess
# The guessing part goes on until I guessed all user questions
# Once every user done the guessing the page will show all user scores
%>


<%# Display list of players %>
<h2>Players:</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>


<%# Button to move to the next guess add path %>
<%= button_to "Next Guess"%>


<%# Display set dials %>
<% @set_dials.each do |set_dial| %>
  <div class="set-dial">
    <p><%= Topic.find(set_dial.dial.topic_id).topic %></p>
    <p>Setter Word: <%= set_dial.setter_word %></p>
  </div>
<% end %>

<%#  %>
