<p> <%= @topic.topic %> </p>



<div data-controller="setdial">

<div data-setdial-target="guesserValue" class="d-none">
  <h1> <%=@set_dial.setter_word %> </h1>
</div>

</div>


<h2> <%= @left %> (0) <--------> (100) <%= @right %> </h2>

<p> Type your dial guess </p>
