.navbar-lewagon {
justify-content: space-between;
background: transparent




}

.navbar {
  --bs-navbar-toggler-border-color: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-image: rgba(255, 255, 255, 0.091);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.navbar-brand {
  width: 10px;
  height: 20px;
   //position: center;
  // margin-left: -1200px;
  // position: sticky;
}

.navbar-toggler-icon, .navbar-toggler {
  color: none!important;
  margin-top: 27px;
  border: none !important;
  outline: none !important;
    &:focus,
    &:active,
    &-icon:focus {
      outline: none !important;
      border: none !important;
    }
}


#home-img {
img { width: 40px;
height: 40px;

}
}

.avatar img {
  width: 40px;
  height: 40px;

}
.nav-item .dropdown-toggle::after {
  content: none !important;
}




.navbar-nav {
  height: 40px;
  display: inline-block;
  width: 100%;
}



.how-it-works-btn {
  width: 100%;
  //padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  //box-shadow: 0 0 20px #ffffff;
  //border-radius: 10px;
  display: block;
  //text-shadow:
  //0px 0px 6px rgb(57, 52, 52),
  //0px 0px 10px rgba(0, 0, 0, 0.247),
  //1px 1px 6px rgba(35, 34, 35, 0.444);
  }


  .btn-outline-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }



.nav-link  {
  // background-image: linear-gradient(to right, #C33764 0%, #1D2671  51%, #C33764  100%);
  padding: 15px 65px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  // background-size: 200% auto;
  color: white;
  // box-shadow: 0 0 20px #ffffff;
  // border-radius: 10px;
  display: block;
  //text-shadow:
  //0px 0px 6px rgb(57, 52, 52),
  //0px 0px 10px rgba(0, 0, 0, 0.247),
  //1px 1px 6px rgba(35, 34, 35, 0.444);
  }


  .how-it-works-btn img {
    height:50px;
  width: 50px}

  #instructions-box {
color: rgb(255, 255, 255);

  }




  .btn-outline-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
