.set-dial-container {
  text-align: center;
  button {
    a {
      color: purple;
    }
    width: 100%;
    background-color:rgb(255, 0, 0);
  background-image:
  radial-gradient(at 8% 38%, rgb(255, 28, 251) 0px, transparent 50%),
  radial-gradient(at 94% 11%, rgb(255, 94, 0) 0px, transparent 50%),
  radial-gradient(at 11% 6%, rgb(246, 255, 0) 0px, transparent 50%),
  radial-gradient(at 45% 71%, rgb(43, 227, 1) 0px, transparent 50%),
  radial-gradient(at 94% 11%, rgb(0, 255, 229) 0px, transparent 50%),
  radial-gradient(at 11% 6%, rgb(0, 8, 255) 0px, transparent 50%);
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #020014;
      // text-shadow:
      // 0px 0px 6px rgb(57, 52, 52),
      // 0px 0px 10px rgba(0, 0, 0, 0.247),
      // 1px 1px 6px rgba(35, 34, 35, 0.444);
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
      margin: 4px 2px;
      border-radius: 20px;

  }
}

.dial-box {
  text-align: center;
  background-image: rgba(255, 255, 255, 0.091);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.topic-icon {
  img {
    padding-bottom: 80px;
  }
}

.dial-number-left {
  font-weight: bolder;
  background: #FF5352;
  background: -moz-radial-gradient(center, #FF5352 0%, #CB0A0A 0%, #FBFF2E 100%);
  background: -webkit-radial-gradient(center, #FF5352 0%, #CB0A0A 0%, #FBFF2E 100%);
  background: radial-gradient(ellipse at center, #FF5352 0%, #CB0A0A 0%, #FBFF2E 100%);
  width: 84px;
  h3 {
    color: black;
  }
}

.dial-number-right {
  font-weight: bolder;
  background: #45FF0F;
background: -moz-radial-gradient(center, #45FF0F 0%, #10D9EB 94%, #15FF00 100%);
background: -webkit-radial-gradient(center, #45FF0F 0%, #10D9EB 94%, #15FF00 100%);
background: radial-gradient(ellipse at center, #45FF0F 0%, #10D9EB 94%, #15FF00 100%);
  width: 84px;
  h3 {
    color: black;
  }
}

#check {
  background: transparent;
  padding: none;
  outline: none;
  font-size: 34px;
}

#set_dial_setter_word {
  width: 50%;
}
.set_dial_setter_word {
 // display: flex;
 input {
  margin: 0 auto;
  background: rgba(255, 0, 220, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 3px solid rgba(255, 0, 220, 0.68);

 }

}

#setter-value-number {
  font-size: 48px;
  margin-bottom: 54px;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 234, 255), 0 0 5px rgba(208, 0, 255, 0.886);
}
