.set-dial-container {
  text-align: center;
  button {
    a {
      color: rgb(255, 255, 255);
    }
    width: 100%;
    background-color:#9331fc;
    background-image:
    radial-gradient(at 55% 11%, rgb(244, 62, 62) 0px, transparent 50%),
    radial-gradient(at 88% 75%, rgb(255, 0, 208) 0px, transparent 50%),
    radial-gradient(at 66% 11%, rgb(255, 213, 0) 0px, transparent 50%),
    radial-gradient(at 54% 23%, rgb(255, 255, 0) 0px, transparent 50%),
    radial-gradient(at 27% 37%, rgb(0, 255, 34) 0px, transparent 50%),
    radial-gradient(at 83% 95%, rgb(0, 238, 255) 0px, transparent 50%),
    radial-gradient(at 98% 70%, rgb(0, 13, 255) 0px, transparent 50%);

      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #020014;
      // text-shadow:
      // 0px 0px 6px rgb(57, 52, 52),
      // 0px 0px 10px rgba(0, 0, 0, 0.247),
      // 1px 1px 6px rgba(35, 34, 35, 0.444);
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
      margin: 4px 2px;
      border-radius: 20px;

  }
}

.dial-box {
  text-align: center;
  background-image: rgba(255, 255, 255, 0.091);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.topic-icon {
  img {
    padding-bottom: 80px;
    text-shadow: 1px 1px 2px rgb(243, 112, 255), 0 0 25px rgb(221, 0, 255), 0 0 5px darkblue;
  }
}

.dial-number-left {
  border-radius: 100%;
  font-size: small;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), 0 0 25px blue, 0 0 5px darkblue;
  background: #ebffe6;
background: -moz-radial-gradient(center, #ffffff 0%, #ff0000 94%, #9e040f 100%);
background: -webkit-radial-gradient(center, #ff00ea 0%, #f871ff 94%, #ff8000 100%);
background: radial-gradient(ellipse at center, #ff8400 0%, #eb1010 94%, #fff260 100%);
width: 28px;
height: 25px;
padding: 15px;
  h3 {
    color: black;

  }
}

.dial-number-right {
  border-radius: 100%;
  font-size: small;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(0, 255, 85), 0 0 25px blue, 0 0 5px darkblue;
  background: #ebffe6;
background: -moz-radial-gradient(center, #ebefea 0%, #cdffbd 94%, #2effe3 100%);
background: -webkit-radial-gradient(center, #37ff00 0%, #00ff33 94%, #15FF00 100%);
background: radial-gradient(ellipse at center, #bbf477 0%, #19c0aa 94%, #a0ff97 100%);
  width: 28px;
  height: 25px;
  padding: 15px;
  h3 {
    color: rgb(0, 0, 0);

  }
}

#check {
  background: transparent;
  padding: none;
  outline: none;
  font-size: 34px;
  text-shadow: 1px 1px 2px rgb(0, 255, 85), 0 0 25px blue, 0 0 5px darkblue;
}

#set_dial_setter_word {
  width: 50%;
}
.set_dial_setter_word {
 // display: flex;
 input {
  margin: 0 auto;
  background: rgba(255, 0, 220, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 3px solid rgba(255, 0, 220, 0.68);

 }

}
